VITE_API_URL=https://your-api-gateway-url.execute-api.us-east-1.amazonaws.com/dev
VITE_API_KEY=
VITE_AWS_S3_BUCKET_PROGRAM_IMAGES=repeat-program-images-dev
VITE_SENTRY_DSN=
VITE_POSTHOG_KEY=
VITE_POSTHOG_HOST=
